@model IEnumerable<TravelWeb.Models.Hotel>
@{
    ViewBag.Title = "ShowHotel";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 class="display-4">Hotel OverView</h1>
    @if (TempData["message"] != null)
    {
        ViewBag.Message = TempData["message"];

    }
    @{
        ViewBag.UN = TempData["UN"];
    }

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Star)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.HotelImage)</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var c in Model)
            {
            <tr>
                <th scope="row">@Html.DisplayFor(model => c.Id)</th>
                <td>@Html.DisplayFor(model => c.Name)</td>
                <td>@Html.DisplayFor(model => c.Description)</td>
                <td>@Html.DisplayFor(model => c.Star)</td>
                <td><img src=@Url.Content(c.HotelImage) alt="" height="100" width="100" /></td>

                <td>
                    <a type="button" class="btn btn-success btn-sm"
                       href="@Url.Action("EditHotel", new {id = c.Id})">Edit</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger btn-sm"
                       href="@Url.Action("DeleteHotel", new {id = c.Id })">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
