@model TravelWeb.Models.Booking
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Managerht/_LayoutManager.cshtml";
    List<TravelWeb.Models.Room> availableRoom = ViewBag.AvailableRooms;
}

<h2>Confirm</h2>

<div>


    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "Error Summary", new { @class = "text-danger" })
    }
    <div class="container">

            <select id="select-room" class="form-control" multiple>
                @foreach(var room in availableRoom)
                {
                <option value="@room.Id">@room.RoomNo</option>
                }
            </select>


            <br />
            <button type="submit" id="btn-submit" btn class="btn btn-dark">Submit</button>

    </div>
</div>

<script>
    $(document).ready(function () {
        var arr = [];
        $('#select-room').change(function (e) {
            console.log($('#select-room').val())
            arr = $('#select-room').val()
        })
        $('#btn-submit').click(function () {
            LoadData(arr);
        })
        function LoadData(arr) {
            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("AddRoom","Managerht")",
                data: { Array: arr, BookingId: @ViewBag.BookingId },
            dataType: "array",
            success: function (msg) {
                console.log(msg)
            },
        })
        }
    })
</script>