<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />-->
<!-- Favicon-->
<!--<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
<!-- Bootstrap icons-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />-->
<!-- Core theme CSS (includes Bootstrap)-->
<!--<link href="~/Theme2/css/styles.css" rel="stylesheet" />
</head>
<body>-->
<!-- Responsive navbar-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="">Booking Hotel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>

                <li class="nav-item"><a class="nav-link" href="">Booked</a></li>
               
            </ul>
        </div>

    </div>
</nav>


<div>
   
</div>-->
<!-- Bootstrap core JS-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!-- Core theme JS-->
<!--<script src="~/Theme2/js/scripts.js"></script>
</body>
</html>-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Booking Hotel </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    
    <link href="~/Theme3/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="@Url.Action("Index","User")">Booking Hotel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("Index","User")">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("ShowBooked","User")">Booked</a></li>
                    <a class="btn btn-danger float-right" href="@Url.Action("Logout", "Login")" role="button">Logout</a>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
       
        <!-- Call to Action-->
       
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">

            @RenderBody()
         
           
        </div>
    </div>
    <!-- Footer-->
   
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
  
    <script src="~/Theme3/js/scripts.js"></script>
</body>
</html>
